<label for="apod-date">Select date: </label>
<input id="apod-date" type="date" {{on "change" this.updateDate}} />
{{!create a component for datapicker }}

{{#if this.nasaApi.isError}}
  <p>Error: Try again</p>
{{else if this.nasaApi.isLoading}}
  <p>Loading today's Astronomy Picture of the Day...</p>
{{else if this.nasaApi.data}}
  <div class="apod-container">
    <h2>{{this.nasaApi.apod.title}}</h2>

    {{#if this.isImage}}
      <img src="{{this.nasaApi.apod.url}}" alt="{{this.nasaApi.apod.title}}" />
    {{else if this.isVideo}}
      <iframe
        src="{{this.nasaApi.apod.url}}"
        title="{{this.nasaApi.apod.title}}"
        class="borderless-iframe"
      ></iframe>
    {{else}}
      <p>Format not supported</p>
    {{/if}}
    <p>{{this.nasaApi.apod.explanation}}</p>
  </div>
{{/if}}